
.contact-row, .thumbnail, .frost-pane{
/*  margin-top: 50px !important;*/
  background-color: rgba(255, 255, 255,.75); 
  border-radius:1px;
}

.frost-pane{
    padding:2%;
    
}
.thumbnails{
    margin-top: 50px !important;
    
}
h1, h2, h3, p, .thumbnail{
    color: black;
}

.thumbnail > img {
    display: block;
    height: 200px; /* add this */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
}

footer li a{
    color:white;    
    
}
